{% extends 'base.html.twig' %}

{% block body %}
    {% include 'EurotradeBundle:Default:header.html.twig' %}

    <section id="join">
        <div class="row right" id="1">
            <div class="col-lg-5 col-sm-12">
                <img class="img-responsive img-centered" src="{{ asset('bundles/eurotrade/images/BUREAUX4.jpg') }}"
                     alt="">

            </div>
            <div class="col-lg-7 col-sm-12 text-center ">
                <h2 id="section-presentation">Présentation</h2>
                <h3 class=""></h3>

                <p id="presentation">
                    Présent depuis 2008 sur la marché l’externalisation commerciale, EUROPEAN TRADE contribue ou
                    accompagne des PME et grandes entreprises dans des domaines variés à conquérir de nouvelle parts de
                    marché sur le territoire nationale. <br/><br/>
                    Véritable atout de votre entreprise, european trade est un accélérateur de croissances de votre
                    marque pour monter rapidement en efficacité, en optimiser vos coûts de développements tout en
                    préservant l’image de votre marque auprès de votre clientèle.
                </p>
                <button type="button" class="btn btn-primary">Primary</button>
            </div>


        </div>

    </section>
    <section id="join">
        <div class="row right" id="2">
            <div class="col-lg-7 col-sm-12 text-center ">
                <h2 id="section-presentation">Présentation</h2>
                <h3 class=""></h3>
                <p id="presentation">
                    Présent depuis 2008 sur la marché l’externalisation commerciale, EUROPEAN TRADE contribue ou
                    accompagne des PME et grandes entreprises dans des domaines variés à conquérir de nouvelle parts de
                    marché sur le territoire nationale. <br/><br/>
                    Véritable atout de votre entreprise, european trade est un accélérateur de croissances de votre
                    marque pour monter rapidement en efficacité, en optimiser vos coûts de développements tout en
                    préservant l’image de votre marque auprès de votre clientèle.
                </p>
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
            <div class="col-lg-5 col-sm-12">
                <img class="img-responsive img-centered" src="{{ asset('bundles/eurotrade/images/BUREAUX4.jpg') }}"
                     alt="">

            </div>
        </div>

    </section>
    <section id="join">
        <div class="row right" id="3">
            <div class="col-lg-5 col-sm-12">
                <img class="img-responsive img-centered" src="{{ asset('bundles/eurotrade/images/BUREAUX4.jpg') }}"
                     alt="">

            </div>
            <div class="col-lg-7 col-sm-12 text-center ">
                <h2 id="section-presentation">Présentation</h2>
                <h3 class=""></h3>

                <p id="presentation">
                    Présent depuis 2008 sur la marché l’externalisation commerciale, EUROPEAN TRADE contribue ou
                    accompagne des PME et grandes entreprises dans des domaines variés à conquérir de nouvelle parts de
                    marché sur le territoire nationale. <br/><br/>
                    Véritable atout de votre entreprise, european trade est un accélérateur de croissances de votre
                    marque pour monter rapidement en efficacité, en optimiser vos coûts de développements tout en
                    préservant l’image de votre marque auprès de votre clientèle.
                </p>
                <button type="button" class="btn btn-primary">Primary</button>
            </div>

        </div>

    </section>
    <section id=" force">
        <div class="row force">
            <div class="col-lg-8 col-sm-12 text-center right">
                <h2 id="section-presentation">Présentation</h2>
                <h3 class="section-subheading"></h3>
                <p id="presentation">
                    Présent depuis 2008 sur la marché l’externalisation commerciale, EUROPEAN TRADE contribue ou
                    accompagne des PME et grandes entreprises dans des domaines variés à conquérir de nouvelle parts de
                    marché sur le territoire nationale. <br/><br/>
                    Véritable atout de votre entreprise, european trade est un accélérateur de croissances de votre
                    marque pour monter rapidement en efficacité, en optimiser vos coûts de développements tout en
                    préservant l’image de votre marque auprès de votre clientèle.
                </p>
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
            <div class="col-lg-4 col-sm-12">
                <img class="img-responsive img-centered" src="{{ asset('bundles/eurotrade/images/BUREAUX4.jpg') }}"
                     alt="">

            </div>
        </div>

    </section>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="http://bootstrapthemes.co/" class="btn btn-default">select one</a>

            <a href="http://bootstrapthemes.co/" class="btn btn-primary">select two</a>
        </div>
    </div>

    {#<section id="atout" class="bg-light-gray">#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-lg-12 text-center">#}
    {#<h2 class="section-heading">Nos Atouts</h2>#}
    {#<h3></h3>#}
    {#</div>#}
    {#</div>#}
    {#<div class="row">#}
    {#<div class="col-md-4 col-sm-6 portfolio-item">#}
    {#<a href="{{ path('eurotrade_contact') }}" class="portfolio-link" >#}
    {#<div class="portfolio-hover">#}
    {#<div class="portfolio-hover-content">#}
    {#<i > En apprendre plus </i>#}
    {#</div>#}
    {#</div>#}
    {#<img src="{{ asset ('bundles/eurotrade/images/portfolio/dreams-preview.png') }}" class="img-responsive" alt="">#}
    {#</a>#}
    {#<div class="portfolio-caption">#}
    {#<h3>Commercial</h3>#}
    {#<p class="text-muted">Depuis plus de 10 ans nous accumulons une expérience significative et éprouvée dans la vente directe.#}
    {#</p>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-md-4 col-sm-6 portfolio-item">#}
    {#<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">#}
    {#<div class="portfolio-hover">#}
    {#<div class="portfolio-hover-content">#}
    {#<i>En apprendre plus</i>#}
    {#</div>#}
    {#</div>#}
    {#<img src="{{ asset ('bundles/eurotrade/images/portfolio/dreams-preview.png') }}" class="img-responsive" alt="">#}
    {#</a>#}
    {#<div class="portfolio-caption">#}
    {#<h3>Recrutement</h3>#}
    {#<p class="text-muted">Nous disposons d’un savoir en recrutement et en Management stratégiques et opérationnels de la performance commerciale.#}
    {#</p>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-md-4 col-sm-6 portfolio-item">#}
    {#<a href="#" class="portfolio-link" data-toggle="modal">#}
    {#<div class="portfolio-hover">#}
    {#<div class="portfolio-hover-content">#}
    {#<i>En apprendre plus</i>#}
    {#</div>#}
    {#</div>#}
    {#<img src="{{ asset ('bundles/eurotrade/images/portfolio/dreams-preview.png') }}" class="img-responsive" alt="">#}
    {#</a>#}
    {#<div class="portfolio-caption">#}
    {#<h3>Adaptabilité</h3>#}
    {#<p class="text-muted">Notre force commerciale est composée de commerciaux salariés aguerris qui#}
    {#maîtrisent parfaitement le terrain et capable de s’adapter au changement.#}
    {#</p>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-md-4 col-sm-6 portfolio-item">#}
    {#<a href="#" class="portfolio-link" data-toggle="modal">#}
    {#<div class="portfolio-hover">#}
    {#<div class="portfolio-hover-content">#}
    {#<i>En apprendre plus</i>#}
    {#</div>#}
    {#</div>#}
    {#<img src="{{ asset ('bundles/eurotrade/images/portfolio/dreams-preview.png') }}" class="img-responsive" alt="">#}
    {#</a>#}
    {#<div class="portfolio-caption">#}
    {#<h3>Management</h3>#}
    {#<p class="text-muted">D’une Administration des Ventes et d’un Back-Office performant, permettant#}
    {#un contrôle et un processus de validation de la vente.#}

    {#</p>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-md-4 col-sm-6 portfolio-item">#}
    {#<a href="#" class="portfolio-link" data-toggle="modal">#}
    {#<div class="portfolio-hover">#}
    {#<div class="portfolio-hover-content">#}
    {#<i>En apprendre plus</i>#}
    {#</div>#}
    {#</div>#}
    {#<img src="{{ asset ('bundles/eurotrade/images/portfolio/dreams-preview.png') }}" class="img-responsive" alt="">#}
    {#</a>#}
    {#<div class="portfolio-caption">#}
    {#<h3>Qualité</h3>#}
    {#<p class="text-muted">#}
    {#D’une structure et d’une organisation interne conforme aux exigences quantitatives et qualitatives de nos partenaires en fonction des besoins..#}

    {#</p>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</section>#}



    {% include 'EurotradeBundle:Default:footer.html.twig' %}
{% endblock %}